# 판다스 문자열

In [55]:
import pandas as pd

data = ['김예찬, m, 부장, 010-1234-5678, 서울시 강남구 삼성동',
        '이하은, f, 인턴, 010-8765-4321, 부산시 해운대구 우동',
        '박지현, f, 과장, 010-1357-2468, 대구시 수성구 범어동',
        '최준호, m, 임시, 010-1928-3746, 인천시 연수구 송도동',
        '김예서, f, 과장, 010-2846-5937, 천안시 서북구 두정동']

data
pd.DataFrame(data)

                                        0
0  김예찬, m, 부장, 010-1234-5678, 서울시 강남구 삼성동
1  이하은, f, 인턴, 010-8765-4321, 부산시 해운대구 우동
2  박지현, f, 과장, 010-1357-2468, 대구시 수성구 범어동
3  최준호, m, 임시, 010-1928-3746, 인천시 연수구 송도동
4  김예서, f, 과장, 010-2846-5937, 천안시 서북구 두정동

In [56]:
df = pd.DataFrame(data, columns=['직원데이터'])
df

                                    직원데이터
0  김예찬, m, 부장, 010-1234-5678, 서울시 강남구 삼성동
1  이하은, f, 인턴, 010-8765-4321, 부산시 해운대구 우동
2  박지현, f, 과장, 010-1357-2468, 대구시 수성구 범어동
3  최준호, m, 임시, 010-1928-3746, 인천시 연수구 송도동
4  김예서, f, 과장, 010-2846-5937, 천안시 서북구 두정동

.str.split() 메서드는 '직원데이터' 컬럼의 각 문자열을

쉼표로 분할(split)하고 결과를 각각의 열에 저장

In [57]:
df = df['직원데이터'].str.split(',', expand=True)

In [58]:
df.columns = ['성명', '성별', '직급', '전화번호', '주소']
df

    성명  성별   직급            전화번호            주소
0  김예찬   m   부장   010-1234-5678   서울시 강남구 삼성동
1  이하은   f   인턴   010-8765-4321   부산시 해운대구 우동
2  박지현   f   과장   010-1357-2468   대구시 수성구 범어동
3  최준호   m   임시   010-1928-3746   인천시 연수구 송도동
4  김예서   f   과장   010-2846-5937   천안시 서북구 두정동

대문자로 변경 : df['성별'].str.upper()

소문자로 변경 : df['성별'].str.lower()

첫글자만 대문자로 변경 : df['성별'].str.capitalize()

소문자는 대문자, 대문자는 소문자로 변경 : df['성별'].str.swapcase()

In [59]:
df['성별'] = df['성별'].str.upper()

In [60]:
df['성별'] = df['성별'].str.replace('M', 'Male')
df['성별'] = df['성별'].str.replace('F', 'Female')

특정 문자 바꾸기 : 'Male' -> '남성', 'Female' -> '여성'

In [61]:
df['성별'] = df['성별'].str.replace('Male','남성').str.replace('Female','여성')
df

    성명   성별   직급            전화번호            주소
0  김예찬   남성   부장   010-1234-5678   서울시 강남구 삼성동
1  이하은   여성   인턴   010-8765-4321   부산시 해운대구 우동
2  박지현   여성   과장   010-1357-2468   대구시 수성구 범어동
3  최준호   남성   임시   010-1928-3746   인천시 연수구 송도동
4  김예서   여성   과장   010-2846-5937   천안시 서북구 두정동

.str.replace('^LG', '엘지', regex=True) 'LG'로 시작하는 부분을 '엘지'로 대체한다.

.str.replace('대학$', '대학교', regex=True) '대학'으로 끝나는 부분을 '대학교'로 대체한다.

.str.replace('부산*', '부산시', regex=True) '부산'으로 시작하는 부분을 '부산시'로 대체한다.

.str.replace('부산+', '부산광역시', regex=True) '부산' 뒤에 한 글자가 존재하는 문자를 '부산광역시'로 대체한다.

.str.replace('부산?', '부산광역시', regex=True) '부산' 뒤에 0 글자 또는 한 글자가 존재하는 문자를 '부산광역시'로 대체한다.

In [62]:
df['직급'] = df['직급'].str.replace('인턴|임시','사원', regex=True)

In [63]:
df[df['성별'].str.contains('여성')]

    성명   성별   직급            전화번호            주소
1  이하은   여성   사원   010-8765-4321   부산시 해운대구 우동
2  박지현   여성   과장   010-1357-2468   대구시 수성구 범어동
4  김예서   여성   과장   010-2846-5937   천안시 서북구 두정동

In [64]:
df['관리자'] = df['직급'].str.contains('과장')

In [65]:
df[df['관리자'] == True]

    성명   성별   직급            전화번호            주소   관리자
2  박지현   여성   과장   010-1357-2468   대구시 수성구 범어동  True
4  김예서   여성   과장   010-2846-5937   천안시 서북구 두정동  True

In [66]:
df['주소'] = df['주소'].str.strip()
df['도시'] = df['주소'].str[:4]
# # df['도시'] = df['주소'].str.split('시', expand=True)[0] + '시'
df[['시', '구', '동']] = df['주소'].str.split(' ', expand=True)

df

    성명   성별   직급            전화번호           주소    관리자    도시    시     구    동
0  김예찬   남성   부장   010-1234-5678  서울시 강남구 삼성동  False  서울시   서울시   강남구  삼성동
1  이하은   여성   사원   010-8765-4321  부산시 해운대구 우동  False  부산시   부산시  해운대구   우동
2  박지현   여성   과장   010-1357-2468  대구시 수성구 범어동   True  대구시   대구시   수성구  범어동
3  최준호   남성   사원   010-1928-3746  인천시 연수구 송도동  False  인천시   인천시   연수구  송도동
4  김예서   여성   과장   010-2846-5937  천안시 서북구 두정동   True  천안시   천안시   서북구  두정동

In [ ]:
df[['전화번호1', '전화번호2', '전화번호3']] = df['전화번호'].str.split('-', expand=True)

df

,성명,성별,직급,전화번호,주소,관리자,도시,시,구,동,전화번호1,전화번호2,전화번호3
0,김예찬,남성,부장,010-1234-5678,서울시 강남구 삼성동,False,서울시,서울시,강남구,삼성동,010,1234,5678
1,이하은,여성,사원,010-8765-4321,부산시 해운대구 우동,False,부산시,부산시,해운대구,우동,010,8765,4321
2,박지현,여성,과장,010-1357-2468,대구시 수성구 범어동,True,대구시,대구시,수성구,범어동,010,1357,2468
3,최준호,남성,사원,010-1928-3746,인천시 연수구 송도동,False,인천시,인천시,연수구,송도동,010,1928,3746
4,김예서,여성,과장,010-2846-5937,천안시 서북구 두정동,True,천안시,천안시,서북구,두정동,010,2846,5937

In [ ]:

# df = df.drop(columns=['관리자'], axis=1)
df = df.drop(3) # 3번 행 삭제
df

,성명,성별,직급,전화번호,주소,시,구,동,전화번호1,전화번호2,전화번호3
0,김예찬,남성,부장,010-1234-5678,서울시 강남구 삼성동,서울시,강남구,삼성동,010,1234,5678
1,이하은,여성,사원,010-8765-4321,부산시 해운대구 우동,부산시,해운대구,우동,010,8765,4321
2,박지현,여성,과장,010-1357-2468,대구시 수성구 범어동,대구시,수성구,범어동,010,1357,2468
4,김예서,여성,과장,010-2846-5937,천안시 서북구 두정동,천안시,서북구,두정동,010,2846,5937

In [75]:
df['시'].str.contains('서울')
df[df['시'].str.contains('서울')] # 서울시 데이터만 선택

    성명   성별   직급            전화번호           주소    시    구    동 전화번호1 전화번호2 전화번호3
0  김예찬   남성   부장   010-1234-5678  서울시 강남구 삼성동  서울시  강남구  삼성동   010  1234  5678