In [2]:
import sqlite3

In [3]:
friend_data = list(tuple())
friend_data.append(('김상욱', 22, '010-4545-6767', '서울특별시 종로구 세종대로 종로 1가'))
friend_data.append(('최지훈', 20, '010-7896-1234', '​전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)'))
friend_data.append(('Dr.Bae', 67, '010-8452-5678', '​전라북도 전주시 덕진구 석소2길 21-1(우아동2가)'))
friend_data.append(('강서혁', 27, '010-1414-6767', '경상남도 의령군 화정면 화정로 41-6'))
friend_data.append(('유민규', 21, '010-6497-6497', '서울특별시 동작구 흑석한강로 2(흑석동)'))

## **테이블 생성 및 데이터 삽입**

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#테이블 생성 및 데이터 삽입

conn = sqlite3.connect('db/friend.db')

# db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 테이블 생성
cur.execute("""CREATE TABLE IF NOT EXISTS friend_data(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT,
  age INTEGER,
  number TEXT,
  address TEXT
  )""")

cur.executemany('INSERT INTO friend_data (name, age, number, address) VALUES (?, ?, ?, ?)', friend_data)
conn.commit()

# 마지막엔 무조건 close() 메소드로 db연결을 해제해야 한다.
conn.close()

## **데이터 조회**

In [ ]:
#데이터 조회

conn = sqlite3.connect("db/friend.db")

cur = conn.cursor()
cur.execute("SELECT * FROM friend_data")

friends = cur.fetchall()

for friend in friends:
  print(friend)

conn.close()

(1, '김상욱', 22, '010-4545-6767', '서울특별시 종로구 세종대로 종로 1가')
(2, '최지훈', 20, '010-7896-1234', '\u200b전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)')
(3, 'Dr.Bae', 67, '010-8452-5678', '\u200b전라북도 전주시 덕진구 석소2길 21-1(우아동2가)')
(4, '강서혁', 27, '010-1414-6767', '경상남도 의령군 화정면 화정로 41-6')
(5, '유민규', 21, '010-6497-6497', '서울특별시 동작구 흑석한강로 2(흑석동)')

## **데이터 수정**

In [ ]:
#데이터 수정

conn = sqlite3.connect("db/friend.db")

cur = conn.cursor()
cur.execute("UPDATE friend_data SET number=? WHERE name=?", ('010-1234-5678', '최지훈'))

cur.execute("SELECT * FROM friend_data WHERE name=?", ('최지훈', ))
friend = cur.fetchone()

print(friend)

conn.commit()
conn.close()

(2, '최지훈', 20, '010-1234-5678', '\u200b전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)')

## **데이터 삭제**

In [ ]:
#데이터 수정

conn = sqlite3.connect("db/friend.db")

cur = conn.cursor()
cur.execute("DELETE FROM friend_data WHERE name=?", ('Dr.Bae', ))

cur.execute("SELECT * FROM friend_data")
friends = cur.fetchall()

for friend in friends:
  print(friend)

conn.commit()
conn.close()

(1, '김상욱', 22, '010-4545-6767', '서울특별시 종로구 세종대로 종로 1가')
(2, '최지훈', 20, '010-1234-5678', '\u200b전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)')
(4, '강서혁', 27, '010-1414-6767', '경상남도 의령군 화정면 화정로 41-6')
(5, '유민규', 21, '010-6497-6497', '서울특별시 동작구 흑석한강로 2(흑석동)')

In [ ]:
import pandas as pd

conn = sqlite3.connect('db/friend.db')
cur = conn.cursor()

cur.execute("SELECT * FROM friend_data")

friends = cur.fetchall()

# 테이블 컬럼명 가져오기
column_name = [column[0] for column in cur.description]

frame = pd.DataFrame.from_records(data=friends, columns=column_name)

conn.close()

frame

   id name  age         number                                        address
0   1  김상욱   22  010-4545-6767                           서울특별시 종로구 세종대로 종로 1가
1   2  최지훈   20  010-1234-5678  ​전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)
2   4  강서혁   27  010-1414-6767                          경상남도 의령군 화정면 화정로 41-6
3   5  유민규   21  010-6497-6497                         서울특별시 동작구 흑석한강로 2(흑석동)